<?xml version="1.0" encoding="utf-8"?>
<!--
Perfil ClickOnce principal de SistemaContable.UI.
Se conserva el nombre FolderProfile para que la tarjeta que ya utiliza
Visual Studio 2019 publique ClickOnce en lugar de copiar archivos sueltos.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <_TargetId>ClickOnce</_TargetId>
    <Configuration>Release</Configuration>
    <Platform>AnyCPU</Platform>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <GenerateManifests>true</GenerateManifests>
    <PublishUrl>C:\SISTEMACONTABLE\</PublishUrl>
    <PublishDir>C:\SISTEMACONTABLE\</PublishDir>
    <InstallUrl>http://192.168.1.4/SISTEMACONTABLE/</InstallUrl>
    <Install>true</Install>
    <InstallFrom>Web</InstallFrom>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>false</UpdateRequired>
    <UpdatePeriodically>false</UpdatePeriodically>
    <MapFileExtensions>true</MapFileExtensions>
    <ApplicationRevision>1</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <AutoIncrementApplicationRevision>true</AutoIncrementApplicationRevision>
    <IsRevisionIncremented>true</IsRevisionIncremented>
    <IsWebBootstrapper>true</IsWebBootstrapper>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <UseApplicationTrust>false</UseApplicationTrust>
    <PublisherName>IT</PublisherName>
    <ProductName>Sistema Contable</ProductName>
    <SuiteName>Sistema Contable</SuiteName>
    <SupportUrl>http://192.168.1.4/SISTEMACONTABLE/</SupportUrl>
    <ApplicationRequiresElevation>false</ApplicationRequiresElevation>
    <TargetFramework>net48</TargetFramework>
    <SelfContained>false</SelfContained>
    <SignManifests>true</SignManifests>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <ManifestCertificateThumbprint>D5269B0993AF7532D62A6A043B73E4DA1FBB339E</ManifestCertificateThumbprint>
    <ManifestKeyFile>sistemacontable.pfx</ManifestKeyFile>
    <CreateWebPageOnPublish>false</CreateWebPageOnPublish>
    <WebPage>publish.htm</WebPage>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include=".NETFramework,Version=v4.8">
      <Visible>False</Visible>
      <ProductName>Microsoft .NET Framework 4.8 %28x86 y x64%29</ProductName>
      <Install>true</Install>
    </BootstrapperPackage>
  </ItemGroup>
</Project>
